@model DeliveryTrackingApp.Areas.Admin.ViewModels.EditDriverViewModel;
<div class="p-5">
    <h3 class="h4">Edit Driver</h3>
    <hr class="divider-b mt-4">
    <form asp-action="Edit" enctype="multipart/form-data" method="POST">
        <div class="text-gray-900 bg-gray-200 dark:text-white p-2 dark:bg-gray-800 rounded-md flex items-center gap-1 mb-4">
           <i class="fa-solid fa-address-card"></i>
            <span class="font-semibold font-xs">
            General Information</span>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3">
        <div >
            <label asp-for="GivenName" class="form-label">Given name</label>
            <input asp-for="GivenName" type="text" class="form-input"/>
            <span class="form-error" asp-validation-for="GivenName"></span>
        </div>
        <div >
            <label asp-for="MiddleName" class="form-label">Middle name</label>
            <input asp-for="MiddleName" type="text" class="form-input"/>
            <span class="form-error" asp-validation-for="MiddleName"></span>
        </div >
        <div >
            <label asp-for="Surname" class="form-label">Surname</label>
            <input asp-for="Surname" type="text" class="form-input"/>
            <span class="form-error" asp-validation-for="Surname"></span>
        </div>
        <div >
            <label class="form-label" asp-for="DateOfBirth">Date of birth</label>
            <input  asp-for="DateOfBirth" type="date" class="form-input"></input>
            <span class="form-error" asp-validation-for="DateOfBirth"></span>
        </div>
        <div>
            <label  asp-for="Gender" class="form-label">Gender</label>
            <select asp-for="Gender"  class="form-select">
                <option value="" disabled selected>Select a gender</option>
                <option value="Male">Male</option>
                <option value="Women">Women</option>
                <option value="Other">Other</option>
            </select>

            </select>
            <span class="form-error" asp-validation-for="Gender"></span>
        </div>
        </div>
         <div class="text-gray-900 bg-gray-200 dark:text-white p-2 dark:bg-gray-800 rounded-md flex items-center gap-1 mb-4 mt-4">
         <i class="fas fa-id-badge"></i>
            <span class="font-semibold font-xs">
            Driver's License</span>
        </div>
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3  gap-2">
         <div>
            <label class="form-label" asp-for="LicenseIdNumber">ID Number</label>
            <input asp-for="LicenseIdNumber"  type="text" class="form-input"></input>
            <span class="form-error" asp-validation-for="LicenseIdNumber"></span>
        </div>
         <div>
            <label class="form-label" asp-for="LicenseValidity">Validity</label>
            <input  asp-for="LicenseValidity" type="date" class="form-input"></input>
            <span class="form-error" asp-validation-for="LicenseValidity"></span>
        </div>
        <div>
            <label class="form-label" asp-for="LicenseImage">License photo</label>
            <input asp-for="LicenseImage" type="file" class="form-file-input"></input>
            <span class="form-error" asp-validation-for="LicenseImage"></span>
        </div>
       
        </div>

         <div class="text-gray-900 bg-gray-200 dark:text-white p-2 dark:bg-gray-800 rounded-md flex items-center gap-1 mb-4 mt-4">
           <i class="fas fa-user-circle"></i>
            <span class="font-semibold font-xs">
            Account and Contact Information</span>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3  gap-2">
         <div>
            <label class="form-label"  asp-for="Account.Email">Email</label>
            <input asp-for="Account.Email" type="email" class="form-input"></input>
             <span class="form-error" asp-validation-for="Account.Email"></span>
        </div>
        <div>
            <label class="form-label"  asp-for="MobileNumber">Mobile number</label>
            <input asp-for="MobileNumber" type="number" class="form-input"></input>
             <span class="form-error" asp-validation-for="MobileNumber"></span>
        </div>
        </div>
        <button class="btn-primary mt-5" type="submit">
            <div>
                <i class="fas fa-save"> </i>
                Save
            </div>
        </button>
    </form>
</div>