@{
    ViewData["Title"] = "Drivers";
}

<div class="p-5">
    <div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Given Name</th>
                <th>Surname</th>
                <th>Contact No.</th>
            </tr>
        </thead>
    </table>
    </div>
</div>