@model List<DeliveryTrackingApp.Areas.Admin.Models.Driver>;
@{
    ViewData["Title"] = "Drivers";
}

<div class="p-5">
    <div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Given Name</th>
                <th>Surname</th>
                <th>Contact No.</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var driver  in Model){
                <tr>
                    <td>
                       @driver.GivenName
                    </td>
                    <td>@driver.Surname</td>    
                    <td>@driver.MobileNumber</td>
                </tr>
            }
        </tbody>
    </table>
    </div>
</div>